GEMINI_API_KEY=AIzaSyA99r2EYarkUgNuUEPgEMnyO52TjmNQpfY

DATABASE_URL="postgresql://neondb_owner:npg_I7ENeDy1HmOV@ep-lingering-shape-a12s6uuz-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

REDIS_URL="rediss://default:AY3_AAIncDI2YzllZTRlNDg0OGQ0OTQ3YjhkMDg0ODc3YTlkYmZiYnAyMzYzNTE@proud-elk-36351.upstash.io:6379"

MODEL_PATH=./app/models/finetuned
HUGGINGFACE_TOKEN=hf_...
